.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url('https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDCO-rjZtKaeFYm&w=470&h=246&url=https%3A%2F%2Fscontent-lax1-1.xx.fbcdn.net%2Fhphotos-xat1%2Fv%2Ft1.0-9%2F11330050_10153086860919086_9220762060901549778_n.jpg%3Foh%3D41fcf92859b85346c4f006822fd8f022%26oe%3D55FB2680&cfs=1&upscale=1&sx=2&sy=0&sw=596&sh=312');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRge3R9_qKl5pZEXhHQ7NsvZYfMueFvrtr5bhf4us8Peafja9dI");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: white;
  font-size: 24px;
}

.neighborhood-guides p {
  color: white;
  font-size: 15px;
  margin-bottom: 13px;
}